svg {
    filter: drop-shadow(3px 3px 0px #193367);
}

.settings-container {    
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 1vh;
    right: 1vw;
    z-index: 200;
}

.settings-menu {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    z-index: 100;
    background-color: #db1513;
    height: 100%;
    padding-top: 80px;
}

.menu-item {
    font-size: 2.5rem;
    border-bottom: 1px solid ;

    label {
        padding-right: 5vw;
    }

    input {
        width: 40px;
        aspect-ratio: 1/1;

        &input:checked {
            background-color: #193367;
        }
    }
}