.pokemon-container {
  // position: absolute;
  max-height: 475px;
  max-width: 475px;
  height: auto;
  margin: 0 auto;
  // top:50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

img {
  height: 100%;
  width: 100%;
}

.loading {
  height: 100%;
  animation: loading-rotate infinite 2s;
}

.img-loading {
  display: none;
  visibility: hidden;
}

.hidden {
    filter: hue-rotate(90deg) brightness(0%) grayscale(10%);
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}