// .pokemon-container {
//   max-height: 475px;
//   max-width: 475px;
//   display: flex;
//   height: 100vw;
//   width: 100vw;
// }


.pokemon {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  max-width: 300px;
  color: hsl(188, 53%, 49%);
}

.loading {
  animation: loading-rotate infinite 2s;
  //background: url('../../assets/images/pokeball.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-height: 475px;
  // max-width: 475px;
  // height: auto;
  // max-width: 100%;
}

.img-loading {
  display: none;
  visibility: hidden;
}

.hidden {
    filter: hue-rotate(90deg) brightness(0%) grayscale(10%);
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}