p {
    font-size: 3rem;
}

.controls-container{
    min-height: 150px;
    display: flex;
}

.controls {
    font-size: 2rem;
    padding: 0 2rem;
    background: #ceebe6;
    border: 1rem solid rgb(58 172 190);
    border-radius: 1rem;
    box-shadow: 0px 10px 20px 5px #000;
    max-width: 98%;
    width: 100%;

    &:hover {
        box-shadow: none;
        transform: translateY(5px);
        cursor: pointer;
    }
}


@media (min-width: 768px) {
    .controls { 
        max-width: 350px;
        padding: 0 25px;
    }
}